/* GENEL SAYFA YAPISI */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Scroll barları gizle */
  background-color: #000;
  height: 100%;
}

.app-main-container {
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(rgb(22 135 22 / 48%), rgb(0 0 0 / 75%)), /* Karartma katmanı */ linear-gradient(90deg, rgb(23 233 23 / 10%) 1px, transparent 1px), linear-gradient(rgb(31 125 31 / 79%) 1px, #00000026 1px);
    background-size: 610px 40px;
    perspective: 500px;
    animation: scrollGrid 20s linear infinite;
}

/* Grid Hareket Animasyonu */
@keyframes scrollGrid {
  0% { background-position: 0 0; }
  100% { background-position: 0 1000px; } /* Aşağı doğru akış */
}

/* --- ARCADE MAKİNESİ KAPLAYICISI --- */
.arcade-wrapper {
  position: relative; 
  height: 90vh; /* Ekranın %90'ı kadar yer kaplasın */
  display: flex;
  justify-content: center; 
  align-items: center;
}

/* Makine Görseli */
.arcade-bg-img {
  height: 120%; /* Parent yüksekliğine uy */
  width: auto;  /* Oranını koru */
  z-index: 10;  /* Oyunun önünde çerçeve gibi durabilir */
 
  pointer-events: none; /* Tıklamaları engellemesin */
}

/* --- OYUN EKRANI ALANI (PHASER BURAYA GELECEK) --- */
.game-screen {
        position: absolute;
    z-index: 15;
    background-color: #000;
    overflow: hidden;
    top: 10%;
    /* left: 14.5%; */ /* Şimdilik buna gerek yok ilerde değişebilir. */
    width: 50%;
    height: 81%;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
}


.game-screen::after {
  content: " ";
 
}

/* Başlık ve Kontroller */
/* Başlık - Ekranın en tepesinde, tam ortada sabit */
.game-title {
      position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    color: #0f0;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0 0 1vh #0f0;
    font-size: 3.3vh;
    z-index: 25;
    white-space: nowrap;
    pointer-events: none;
}

/* Kontroller - Ekranın en altında, tam ortada sabit */
.game-controls {
    position: fixed;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.6vh;
    background: rgb(0 0 0 / 93%);
    padding: 1vh 2vh;
    border: 0.4vh solid #00ff00;
    border-radius: 1.5vh;
    z-index: 20;
    white-space: nowrap;
}
/* Social Panel Hover Efekti */
.social-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: #252540 !important;
}